nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container
        a.navbar-brand(href='#') Biblioteca Digital
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a#mostrarFormulario.nav-link(href='#') Agregar Libro
                li.nav-item
                    a#mostrarListado.nav-link(href='#') Ver Libros
