if resources && resources.scripts
    each val in resources.scripts
        script(src=val)
    script(src='/public/core/common.js')
    script(src='/public/core/books.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js')
